@import url("https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");

body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../public/assets/imgs/blue-snow.png)repeat;
  background-color: #fff;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(221, 46, 113);
  border-radius: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.image_logo{
  width: 4rem;
  height: 4rem;
  margin: 1rem;
}

/* /////////////////////////////////////////////////////////////////////////////////NAVBAR  */

.text-my-nav{
  text-decoration: none;
  font-weight: bold;
}

.text-my-nav{
  font-weight: bold;
  color: black;
}
.text-my-nav:hover{
  color: rgb(221, 46, 113);
}


/* /////////////////////////////////////////////////////////////////////////////////CARD & CAROUSEL  */

.container_carousel {
  padding: 2rem 0;
}

.image_card_size {
  width: 90%;
  height: 90%;
}

.polaroid {
  width: 70%;
  padding-top: 1.5rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.size_carousel {
  margin: auto;
  width: 80%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.card_ffamily {
  letter-spacing: 0.1rem;
  font-family: "Zen Loop", cursive;
  color: rgb(116, 106, 112);
  font-size: 1.5rem;
  text-decoration: none;
}

.card_ffamily:hover {
  color: rgb(221, 46, 113);
}

.twocards{
  width: 50%;
}


/* /////////////////////////////////////////////////////////////////////////////////HERO  */

.hero {
  background-image: url(../public/assets/imgs/wpp.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 198, 233, 0.349);
  z-index: -1;
}

.hero-cities {
  background-image: url(../public/assets/imgs/citiesbg.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.hero-each-city{
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  height: 30rem;
  z-index: 2;
}

.ff-title-eachcity{
  font-family: "Croissant One", cursive;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  letter-spacing: 0.2rem;
  text-shadow: 0px 0px 5px rgb(112, 3, 45);
  background-color: rgba(255, 255, 255, 0.418);
  padding: 1rem;
}

.slogan {
  background-color: rgba(255, 255, 255, 0.733);
  font-family: "Zen Loop", cursive;
  font-size: 1.5rem;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}

.ff-title {
  font-family: "Croissant One", cursive;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  letter-spacing: 0.3rem;
  text-shadow: 0px 0px 5px rgb(112, 3, 45);
  padding-bottom: 5rem;
}

/* /////////////////////////////////////////////////////////////////////////////////BUTTON GET STARTED  */
.fancy {
  /* background-color: transparent; */
  background-color: rgba(255, 255, 255, 0.733);
  border: 2px solid rgb(202, 25, 93);
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: rgb(0, 0, 0);
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: white;
  background: rgb(221, 46, 113);
}

.fancy:hover::before {
  width: 0.9375rem;
  background: white;
}

.fancy:hover .text {
  color: white;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}


/* /////////////////////////////////////////////////////////////////////////////////ACTION */

.col-img{
  width: 18rem;
  height: 30rem;
  background-image: url(../public/assets/imgs/cartel.png);
  background-size: cover;
}

.discoverslogan{
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "Zen Loop", cursive;
}

.container_action{
  width: 100%;
  margin: auto;
}

.tolkien{
  font-weight: bold;
  /* font-size: 0.8rem; */
  text-transform: uppercase;
}

.direction_action{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* /////////////////////////////////////////////////////////////////////////////////POPULAR MYTINERARIES  */

.popular_mytineraries{
  width: 60rem;
  margin: auto;
  display: flex;
  color: #fff;
  height: 15rem;
  justify-content: center;
  align-items: center;
  background-image: url(../public/assets/imgs/popular_bg.png);
background-size: contain;
  background-position: center;
  /* background-attachment: fixed; */
  /* background-size: cover; */
  background-repeat: no-repeat;
}

.popular_fs{
font-size: 2.6rem;
text-shadow: 0px 0px 5px rgb(7, 3, 4);
font-family: "Croissant One", cursive;
}

/* /////////////////////////////////////////////////////////////////////////////////FOOTER  */

.image_logo_footer{
  width: 4rem;
}

.footer-top {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.hfooter{
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.footer{
  padding: 2rem;
  /* padding-left: 4rem; para centrar los dos del medio :( */
  width: 100%;
  background-color: rgb(71, 71, 71);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5rem;

}
.footerContain{
  display: flex;
  justify-content: space-around;
}
.footernav{
  display: flex;
  flex-direction: row;
}

.footernav .linkfooter{
  margin: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-family: "Zen Loop", cursive;
  font-size: 1.5rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}


.githublogo{
  width: 1.5rem;
  height: 1.5rem;
  color: rgb(255, 255, 255);
}


/* /////////////////////////////////////////////////////////////////////////////////ERROR 404  */
.image_error{
  width: 60%;
}

.error_container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* /////////////////////////////////////////////////////////////////////////////////UNDER CONSTRUCTION  */

.under_const{
  /* height: 100vh; */
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_const{
  width: 60%;
  margin: 2rem;
}

/* /////////////////////////////////////////////////////////////////////////////////INPUT SEARCH CITIES  */

.input-search{
  width: 15rem;
  height: 2.5rem;
  padding-left: 1rem;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow:  0 0 0 3px #f049979a;
}

/* /////////////////////////////////////////////////////////////////////////////////CITIES CARDS  */

 .maincontainer{
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 25rem;
  padding: 1rem;
  background: none;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */

}

.thecard{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.thecard:hover{
  transform: rotateY(180deg);
}

 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  background: #ffc728;
  color: #000;
}

.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}


.theback h1{
  font-family: "Zen Loop", cursive;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.1rem;
  color: rgb(221, 46, 113);
}

.thefront p{
  font-family: "Zen Loop", cursive;
  padding: 30px;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color: rgb(116, 106, 112);
  letter-spacing: 0.1rem;
}

.theback p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  padding: 1rem;
}
.polaroid-two{
    width: 100%;
    height: 100%;
    padding-top: 1.5rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.bg-button-more{
  background-color: rgb(221, 46, 113);
  color: #fff;
  text-decoration: none!important;

}


/* /////////////////////////////////////////////////////////////////////////////////NO RESULTS & NO ITINERARIES */

.cardfound {
  width: 40rem;
  height: 35rem;
  margin-bottom: 5rem;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 0px rgba(248, 153, 184, 0.61);
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  /* font-weight: bold; */
  /* letter-spacing: 0.1rem; */
}

.size-img-search{
  width: 35%;
}

.margin-img-noiti{
  margin-top: 2rem;
}

/* /////////////////////////////////////////////////////////////////////////////////CARD ITINERARIES  */

.centerItinerariesCards{
  display: flex;
  justify-content: center;
}

.itinerariesCards{

  width: 80%;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 3px rgba(146, 146, 146, 0.39);
  padding: 3vh 2vw;
  margin-bottom: 5vh;
}

.activityContainer{ 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag{

  background: #cccccc;
  border-radius: 50px;
  font-size: 2rem;
  margin: 0;
  color: #fff;
  padding: 2px 20px;
  text-transform: uppercase;
  background-color: #f049979a;
  font-family: "Zen Loop", cursive;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.centerTag{
  display: flex;
  justify-content: center;
}

.user_img_size{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.user{
  
  display: flex;
  justify-content: center;
  /* margin-right: 10rem; */
  margin-top: 2rem;
  flex-wrap: wrap;
  
}

.userName{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Zen Loop", cursive;
  margin-left: 2rem;
  letter-spacing: 0.1rem;

}

.itiDescription{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
 padding-top: 2rem;
  font-style: italic;
  width: 60%;
  /* background-color: rgb(255, 238, 241); */
  margin: auto;
 
}

.itiPrice , .itiDuration, .itiLikes{
  font-size: 1.5rem;

}

.priceDuration{
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto;
  padding-top: 2rem;

}

.itiUnderline{
  text-decoration: underline;
}

.centerHashtags{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-style: italic;
  font-size: 1.2rem;
}

.tagsColor:hover{
  color: rgb(221, 46, 113);
}

/* /////////////////////////////////////////////////////////////////////////////////LOG IN  */

.login{
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "Zen Loop", cursive;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: rgb(221, 46, 113);
}

.signuphere{
  text-decoration: none;
  
}

.signuphere:hover{
  color: rgb(221, 46, 113);
}

.centerLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #ffc728; */

}

.lel{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginCard{
display: flex;
flex-direction: column;
align-items: center!important;
/* background-color: rgb(255, 19, 19); */
}

.containerLogin{
  
  width: 60%;
  border-radius: 30px;
  box-shadow: 0px 0px 9px 3px rgba(177, 177, 177, 0.39);
  padding: 3vh 2vw;
  margin-bottom: 5vh;
}

.formLogin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* /////////////////////////////////////////////////////////////////////////////////MEDIA  */

@media (max-width: 975px) {
  .popular_mytineraries{width: 100vw;}
  .itiPrice , .itiDuration, .itiLikes{font-size: 1.2rem; }
  .priceDuration{width: 60%;}
  .tag{font-size: 1.7rem; text-align: center;}
}

@media (max-width: 768px) {
  .ff-title{font-size: 4rem;}
  .popular_fs{font-size: 2rem;}
  .popular_mytineraries{width: 100vw;}
  .image_const{width: 80%;}
  .cardfound {width: 30rem;
    height: 35rem;}
  .size-img-search{width: 50%;}
  .tag{font-size: 1.5rem; text-align: center;}
  .userName{ font-size: 1.8rem; margin-left: 1rem; margin-top:1rem;}
  .itiDescription{font-size: 1.2rem;}
  .itiPrice , .itiDuration, .itiLikes{font-size: 1.2rem; }
  .priceDuration{width: 70%;}
  .centerHashtags{ font-size: 1rem;}


}

@media (max-width: 570px) {
  .ff-title{font-size: 3rem;}
  .image_error{width: 100%;}
  .hfooter{font-size: 0.8rem;}
  .popular_fs{font-size: 1.6rem;}
  .popular_mytineraries{width: 100vw;}
  .image_const{width: 80%;}
  .cardfound {width: 17rem;
    height: 20rem;}
  .size-img-search{width: 50%;}
  .tag{font-size: 1.3rem; text-align: center;}
  .userName{ font-size: 1.5rem; margin-left: 1rem; margin-top:1rem;}
  .itiDescription{font-size: 1.1rem;}
  .itiPrice , .itiDuration, .itiLikes{font-size: 1rem; }
  .priceDuration{width: 90%;flex-direction: column; align-items: center;}
  .centerHashtags{flex-direction: column; align-items: center; font-size: 1rem;}

}

@media (max-width: 450px) {
  .ff-title{font-size: 3rem;}
  .twocards{width: 100%;}
  .card_ffamily {font-size: 1rem;}
  .image_error{width: 100%;}
  .hfooter{font-size: 0.7rem;}
  .col-img{  width: 9rem;
    height: 13rem;}
  .popular_fs{font-size: 1.4rem;}
  .popular_mytineraries{width: 100vw;}
  .discoverslogan{font-size: 2.3rem;}
  .footer{flex-direction: column;}
  .thefront p {font-size: 1.3rem}
  .image_const{width: 80%;}
  .cardfound {width: 17rem;
    height: 20rem;}
  .size-img-search{width: 50%;}
  .tag{font-size: 1rem; text-align: center;}
  .user{flex-direction: column; align-items: center;}
  .userName{ font-size: 1.5rem; margin-left: 1rem; margin-top:1rem;}
  .itiDescription{font-size: 1rem;}
  .itiPrice , .itiDuration, .itiLikes{font-size: 1rem; }
  .priceDuration{width: 90%;flex-direction: column; align-items: center;}
  .centerHashtags{flex-direction: column; align-items: center; font-size: 1rem;}

}

@media (max-width: 375px) {
  .ff-title{font-size: 2rem;}
  .twocards{width: 100%;}
  .card_ffamily {font-size: 1rem;}
  .image_error{width: 100%;}
  .hfooter{font-size: 0.6rem;}
  .col-img{  width: 7rem;
  height: 10rem;}
  .popular_fs{font-size: 1.2rem;}
  .popular_mytineraries{width: 100vw;}
  .footer{flex-direction: column;}
  .discoverslogan{font-size: 2rem;}
  .thefront p {font-size: 1.3rem;}
  .ff-title-eachcity{font-size:2rem;}
  .image_const{width: 80%;}
  .cardfound {width: 17rem;
    height: 20rem;}
  .size-img-search{width: 50%;}
  .tag{font-size: 1rem; text-align: center;}
  .userName{ font-size: 1.2rem; margin-left: 0; margin-top:1rem;}
  .itiDescription{font-size: 1rem;}
  .itiPrice , .itiDuration, .itiLikes{font-size: 1rem; }
  .priceDuration{width: 90%;flex-direction: column; align-items: center;}
  .centerHashtags{flex-direction: column; align-items: center; font-size: 1rem;}
  
}



